@page "/favorite"
@attribute [Authorize]

@using Chinook.Models
@using Chinook.ClientModels
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims;
@using Microsoft.AspNetCore.Authorization

<h1>My favorite tracks</h1>
<table class="table table-striped table-hover table-sm">
    <thead>
        <tr>
            <th>Album title</th>
            <th>Track name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var track in favoriteTracks)
        {
            <tr>
                <td>@track.AlbumTitle</td>
                <td>@track.TrackName</td>
            </tr>
        }
    </tbody>
</table>

